[submodule "lib/evented-object"]
	path = lib/evented-object
	url = git://github.com/cooper/evented-object.git
[submodule "lib/evented-configuration"]
	path = lib/evented-configuration
	url = git://github.com/cooper/evented-configuration.git
[submodule "lib/net-async-omegle"]
	path = lib/net-async-omegle
	url = git://github.com/cooper/net-async-omegle.git
[submodule "lib/libirc"]
	path = lib/libirc
	url = git://github.com/cooper/libirc.git
