[ irc ]

host = "irc.alphachat.net"
port = 6667
bind = "0.0.0.0"
autojoin = ["#omegle", "#other"]

# Uncomment the next two lines for sasl support (requires MIME::Base64)
# sasl_user = "blah"
# sasl_password = "blahhh"

[ bot ]

nick    = "ombot"
user    = "omegle"
gecos   = "Omegle IRC Bot"
prefix  = '.'

[ modules ]

Omegle            = on
Omegle::Basic     = on
Omegle::Interests = on
Omegle::Spy       = on
Omegle::ASL       = on

[ module: asl ]

min = 17
max = 25
locations = [qw(ca fl ohio canada georgia seattle russia uk england)]

[ format ]

om_status_pair  = "\2<<key>>\2: <<value>>"
om_msg_stranger = "\2\0034Stranger:\x0f <<message>>"
om_msg_you      = "\2\00312You:\x0f <<message>>"
om_msg_spy1     = "\2\0034Stranger \003131:\x0f <<message>>"
om_msg_spy2     = "\2\0034Stranger \00332:\x0f <<message>>"
